.my-pokemon-list-page {
  padding: 16px 16px 32px 16px;
  display: flex;
  flex-flow: wrap;
  height: 30rem;
  overflow: auto;
  margin-top: 20px;
  flex-direction: row;
  align-content: flex-start; /* NEW */

  @media(max-width: 768px) {
    height: 20rem;
    overflow: scroll;
  }

  .pokemon-item {
    width: calc((100% / 3) - (32px / 3) - 31px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #d5f4fe;
    margin: 10px;
    border: 1px solid #b9eeff;

    @media(max-width: 768px) {
      width: 100%;
      height: 30px;
    }

    .pokemon-img {
      align-self: center; 
      width: 100px;
      padding: 8px;

      @media(max-width: 768px) { display: none; }
    }
    .pokemon-name {
      align-self: center;
      color: #06335b;
      font-size: 16px;
    }

    .release-btn {
      align-self: center;
      width: 90px;
      height: 100px;
      font-size: 18px;

      @media(max-width: 768px) {
        height: 36px;
        width: 50px;
        font-size: 12px;
      }
    }
  }
}