.pokemon-detail-wrapper {

  @media(max-width: 768px) {
    overflow: auto;
    margin-top: 8px;
  }

  .detail-content {
    width: 48%;
    height: 400px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 72px;
    background-color: #cdfbe1;
    justify-content: space-between;

    @media(max-width: 768px) {
      margin: 20px 16px 16px 16px;
      display: block;
      width: unset;
      border-radius: 20px;
      height: calc(100vh - 244px);
      overflow: auto;
    }

    .pokemon-img {
      width: 200px;
      height: 200px;
      align-self: center;
      padding: 20px;

      @media(max-width: 768px) {
        width: 146px;
        height: 146px;
        padding: 20px;
      }
    }

    .pokemon-info-wrapper {
      width: 500px;
      border-left: 2px solid white;
      position: relative;

      @media(max-width: 768px) {
        width: 100%;
      }

      .pokemon-name {
        margin-top: 28px;
        display: block;
        text-align: left;
        margin-left: 16px;
        font-size: 20px;
        color: #093a58;
        margin-bottom: 20px;

        @media(max-width: 768px) {
          margin-top: unset;
        }
      }

      .label-field {
        text-align: left;
        margin-left: 16px;
        font-size: 16px;
        display: block;
        color: #789cb2;
      }

      .text-wrapper {
        height: 80px;
        background: white;
        padding: 4px;
        overflow: auto;
        margin: 16px;

        @media(max-width: 768px) {
          width: 298px;
        }

        p {
          text-align: left;
          font-size: 14px;
          color: #788b84;
          margin: 0px;
        }
      }


      .catch-button {
        display: flex;
        position: absolute;
        right: -11px;
        bottom: -14px;
        border-radius: 20px;
        padding: 4px 8px;

        @media(max-width: 768px) {
          width: 100px;
          position: unset;
          float: right;
          margin-right: 22px;
          margin-top: 10px;
          margin-bottom: 10px;
        }

        span {
          align-self: center;
          margin-left: 10px;
          font-weight: bold;

          @media(max-width: 768px) {
            font-size: 10px;
          }
        }

        img {
          width: 63px;
          margin-left: 8px;

          @media(max-width: 768px) {
            width: 40px;
          }
        }
      }
    }
  }
}